<html>
<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Locations visited</title>
</head>
<body>
    <h1>Location added!</h1>

    <p>{{ newplace.getLocation }}</p>
    <p>{{ newplace.getHowlong }}</p>
    <p><img src='{{ newplace.getImage }}'></p>
    <p><a href='/'>View your list of locations.</a></p>
</body>
</html>
