<html>
<head>
    <title>Locations visited</title>
</head>
<body>
    <h1>Location added!</h1>

    <p>{{ newplace.getLocation }}</p>
    <p><a href='/'>View your list of locations.</a></p>
</body>
</html>
