<html>
<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Locations visited</title>
</head>
<body>
    <h1>Places visited</h1>
    {% if places is not empty %}
        <p>Here are the places I've visited:</p>
        <ul>
            {% for place in places %}
                <li>Place: {{ place.getLocation }}</li>
                <li>Time spent: {{ place.getHowlong }}</li>
                <li><img src='{{ place.getImage }}'</li>
            {% endfor %}
        </ul>

    {% endif %}
    <form action='/places' method='post'>
        <label for='location'>Location</label>
        <input id='location' name='location' type='text'> </br>
        <label for='howlong'>How long were you there?</label>
        <input id='howlong' name='howlong' type='text'> </br>
        <label for='image'>Image URL</label>
        <input id='image' name='image' type='text'>

        <button type='submit'>Add task</button>
    </form>
    <form action='/delete_places' method='post'>
        <button type='submit'>Delete all</button>
    </form>
</body>
</html>
